# See https://github.com/qernal/github-actions-rust-clippy

name: Clippy

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint package
    steps:
      - uses: actions/checkout@v2
      - uses: qernal/github-actions-rust-clippy@v2.0.2
#        with:
#          args: "--verbose"
#          path_glob: "**/src"
#          git_ssh_key: "${{ secrets.base64_ssh_key }}" # Must be base64 encoded and a valid RSA key
          rust_version: 1.64
